KOUOJ_SECRET_KEY=change-me
KOUOJ_DEBUG=1

KOUOJ_DB_NAME=kouoj
KOUOJ_DB_USER=kouoj_user
KOUOJ_DB_PASSWORD=change-me
KOUOJ_DB_HOST=localhost
KOUOJ_DB_PORT=3306

KOUOJ_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

KOUOJ_JUDGE_PYTHON=python